.flex-container {

    display: flex; /* Convertir el contenedor en flex */
  
    justify-content: center; /* Alineación horizontal al centro */
  
    align-items: center; /* Alineación vertical al centro */
  
    height: 300px; /* Definir una altura para el contenedor */
  
    background-color: #f4f4f4;
  
    border: 1px solid #ccc;
  
  }
  
  .item {
  
    background-color: #007BFF;
  
    color: white;
  
    padding: 20px;
  
    border-radius: 5px;
  
    text-align: center;
  
  }



  .flex-container2 {

    display: flex;
  
    justify-content: center; /* Alinear todos los elementos en el centro horizontalmente */
  
    align-items: center; /* Alinear todos los elementos en el centro verticalmente */
  
    height: 300px;
  
    background-color: #f4f4f4;
  
  }
  
  .item2 {
  
    background-color: #007BFF;
  
    color: white;
  
    padding: 20px;
  
    margin: 10px; /* Espacio entre los elementos */
  
    border-radius: 5px;
}


.flex-container3 {

    display: flex;
  
    justify-content: center; /* Centra todos los elementos horizontalmente */
  
    align-items: center; /* Centra todos los elementos verticalmente */
  
    height: 300px;
  
    background-color: #f4f4f4;
  
  }
  
  .item3 {
  
    background-color: #007BFF;
  
    color: white;
  
    padding: 20px;
  
    margin: 10px;
  
    border-radius: 5px;
  
  }
  
  .special-item3 {
  
    align-self: flex-end; /* Este elemento se alinea al final vertical del contenedor */
  
  }



  .flex-container4 {

    display: flex;
  
    flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias líneas */
  
    align-content: flex-start; /* Alinea las líneas al inicio del contenedor */
  
    height: 400px;
  
    background-color: #f4f4f4;
  
    gap: 10px;
  
  }
  
  .item4 {
  
    background-color: #007BFF;
  
    color: white;
  
    padding: 20px;
  
    width: 100px;
  
    text-align: center;
  
    border-radius: 5px;
  
  }